table {
    padding: 20px;
    margin: 25px 10%;
    border-collapse: collapse;
    
}

th {
    padding-bottom: 10px;
}

td {
    border-top: 1px solid black;
    padding: 10px;
}

td:last-child {
    display: grid;
    place-items: center;
}

hr {
    margin-bottom: 30px;
}