table {
    padding: 20px;
    display: none;
    min-width: 400px;
    max-width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
    
}

th {
    padding-bottom: 10px;
}

td {
    text-align: center;
    border-top: 1px solid black;
    padding: 5px;
}

td:nth-child(n + 2) {
    display: grid;
    place-items: center;
}

.mes:hover > table {
    display: table;
}